* {
    box-sizing: border-box;
}

html {

    height: 100%;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    margin-top: -1px;
    padding-top: 3.5rem;
    display: grid;
    /* grid-template-rows: auto 8rem; */
    grid-template-areas: 'header'
        'main'
        'footer' ;

}

.button {
    background: #0e4f1f;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    border: 2px solid #0e4f1f;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #0e4f1f;


}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f
}

main {
    /* margin-top: 3.5rem; */
    grid-area: main;
}

.main-header {
    width: 100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;   
}

/* .main-header > div{
    display: inline-block;
    vertical-align: middle;
} */

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    /* font-weight: bold;
    font-size: 22px; */
    /* display: inline-block; */
}

.main-header__brand img {
    width: 2.5rem;
    height: 2.5rem;
    /* margin: -1px; */
}


.main-nav {
    /* display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle; */
    display: flex;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

}

.main-nav__item {
    /* display: inline-block; */
    margin: 0 16px;

}

.main-nav__item a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.main-footer {
    background: black;
    /* margin-top: 48px; */
    padding: 48px;
    grid-area: footer;
}

.main-footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.main-footer__link {
    /* display: inline-block; */
    margin: .5rem 16px;
}

.main-footer__link a {
    text-decoration: none;
    color: white;

}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}